<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error</title>
</head>
<body style="background-color: black;">
  <h1 style="font-size: x-large;font-weight: bolder; text-align: center; color:red;margin-top: 20rem;">
    <span style="font-weight: bolder;font-size: xx-large;">ERROR 404</span> <br>
    There is a something error back again to login or register correctly..<br><br>
    <a href="{% url 'LOGINPAGE' %}" style="color: rgb(5, 185, 230);">
      Back To Login form..</a><br><br>
    <a href="{% url 'REGISTERPAGE' %}" style="color: rgb(9, 162, 223);">
      Back To Register form..</a>
  </h1>
</body>
</html>