{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <title>Update Element</title>
</head>
<body style="background-color: darkcyan;">
  <form action="" method="POST" style="margin: auto;font-weight: bold;font-size: larger;">
    {% csrf_token %}
    {{upprdct.as_p}}
    <button type="submit" class="btn btn-outline-danger" style="width: 10rem;margin-right: 5rem;border-radius: 2rem;">Update</button>
  </form>
</body>
</html>